<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283151762227-518dcge6j5528ujv8gsq0337qgckhgk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283151762227-518dcge6j5528ujv8gsq0337qgckhgk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCYh_vp9oGPG29wqVwpKifsXvGWOYhJBhg</string>
	<key>GCM_SENDER_ID</key>
	<string>283151762227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jilcreation.getjobs</string>
	<key>PROJECT_ID</key>
	<string>getjobs-jobseeker-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>getjobs-jobseeker-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283151762227:ios:07d4c47528ea687960f446</string>
</dict>
</plist>